html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* navigation */
.navigation{
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
}

.navigation #logo{
  height: 50px;
  left: 10px;
}

.navigation li{
  text-align: right;
  text-decoration: underline;
}
